body {
  background-color: var(--color-main);
  font-family: Roboto, sans-serif;
  /* weight: Regular;  */
  color: #434455;
  /* Letter Spacing: 2%; */
}

:root {
  /* Text colors */
  --main-txt-cl: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --color-main: #ffffff;
  --hover-main: #404bbf;
  --footer-second: #f4f4fd;
  --background-hover: #404bbf;
  --background-team: #f4f4fd;
  --color-pgf: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/**
      |============================
      |Base styles
      |============================
    */

body {

}

.link {
  text-decoration: none;
}




/**
      |============================
      |Header styles
      |============================
    */

.link {
}
.studio {
}
.list {
}
.nav-link {
}
.address {
}
.mail {
}
.tel {
}
.main-bunner {
}
.design-h1 {
}
.button-textn {
}
.strategy {
}
.opportunity {
}
.textp {
}
.doing {
}
.texth2 {
}
.team {
}
.texth3 {
}
.container-footer {
}
.web {
}
.studioft {
}
.footer-p {
}
