body {
  background-color: var(--color-main);
  font-family: Roboto, sans-serif;
  /* weight: Regular;  */
  color: #434455;
  /* Letter Spacing: 2%; */
}

:root {
  /* Text colors */
  --main-txt-cl: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --color-main: #ffffff;
  --hover-main: #404bbf;
  --footer-second: #f4f4fd;
  --background-hover: #404bbf;
  --background-team: #f4f4fd;
  --color-pgf: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/**
      |============================
      |Base styles
      |============================
    */

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/**
      |============================
      |Header styles
      |============================
    */

.header {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--main-txt-cl);
}

.web {
  color: var(--accent-txt-cl);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.link:hover,
.link:focus {
  color: var(--hover-main);
}

.studio {
}
.list {
}
.nav-link {
}

.contact {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-pgf);
}

.main-bunner {
}
.design-h1 {
}
.button-textn {
}
.strategy {
}
.opportunity {
}
.textp {
}
.doing {
}
.texth2 {
}
.team {
}
.texth3 {
}
.container-footer {
}
.web {
}
.studioft {
}
.footer-p {
}
