body {
  background-color: var(--color-main);
  font-family: Roboto, sans-serif;
  color: #434455;
}

:root {
  /* Text colors */
  --main-txt-cl: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --color-main: #ffffff;
  --hover-main: #404bbf;
  --footer-second: #f4f4fd;
  --background-hover: #404bbf;
  --background-team: #f4f4fd;
  --color-pgf: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.web {
  color: var(--accent-txt-cl);
}

.studio {
  color: var(--main-txt-cl);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}



/**
      |============================
      |Hover
      |============================
    */

.hov:hover,
.hov:focus {
  color: var(--hover-main);
}

.address:hover,
.address:focus {
  color: var(--hover-main);
}




.hov {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-pgf);
}

.bunner {
  background: var(--main-txt-cl);
}

.design {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */

  color: var(--color-main);
}

.text-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button {
  background: var(--accent-txt-cl);
}

.text-btn:hover,
.text-btn:focus {
  background: var(--accent-txt-cl);
  border-radius: 4px;
}

.opportunity {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--main-txt-cl);
}

.textp {
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */
}

.texth2 {
  /* Header 2 */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: var(--main-txt-cl);
}

.texth3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team {
  background: var(--background-team);
}

.container-footer {
  background: var(--main-txt-cl);
}

.studioft {
  color: var(--footer-second);
}

.footer-p {
  color: var(--footer-second);
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
}

/* PORTFOLIO */

.text-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background: var(--hover-main);
}

.port-hdr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--main-txt-cl);
}

.port-pgf {
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: var(--color-pgf);
}

.cart {
  background: var(--color-main);
  /* CORNFLOWER */
}
