body {
  background-color: var(--color-main);
  font-family: Roboto, sans-serif;
  /* weight: Regular;  */
  color: #434455;
  /* Letter Spacing: 2%; */
}

:root {
  /* Text colors */
  --main-txt-cl: #2e2f42;
  --accent-txt-cl: #4d5ae5;
  --color-main: #ffffff;
  --hover-main: #404bbf;
  --footer-second: #f4f4fd;
  --background-hover: #404bbf;
  --background-team: #f4f4fd;
  --color-pgf: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/**
      |============================
      |Base styles
      |============================
    */

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/**
      |============================
      |Header styles
      |============================
    */

.studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--main-txt-cl);
}

.web {
  color: var(--accent-txt-cl);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.link:hover,
.link:focus {
  color: var(--hover-main);
}

.list {
}
.nav-link {
}

.contact {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-pgf);
  font-style: normal;
}

.main-bunner {
  background-color: var(--main-txt-cl);
}

.design-h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.button-textn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.07;

  letter-spacing: 0.04em;
  background: var(--accent-txt-cl);
  color: var(--color-main);
  cursor: pointer;
}

.button-textn:hover,
.button-textn:focus {
  background: var(--background-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.strategy {
}

.opportunity {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.textp {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-pgf);
}

.doing {
}
.texth2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-txt-cl);
}
.team {
  background: var(--background-team);
}
.texth3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.textp {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-pgf);
}

.container-footer {
  background: var(--main-txt-cl);
}
.web {
}

.studioft {
  color: var(--footer-second);
}

.footer-p {
  color: var(--footer-second);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
      |============================
      |Portfolio
      |============================
    */
