body {
  background-color: #ffffff;
}

/* reset */

.list {
  list-style: none;
  color: currentColor;
  text-decoration: none;
}

.mail,
.tel {
  list-style: none;
  color: currentColor;
  text-decoration: none;
}

/**
      |============================
      | Studio
      |============================
    */

.link {
  color: # 4D5AE5;
}

/**
      |============================
      |Hover
      |============================
    */

.link:hover,
.link:focus {
  color: #404bbf;
  background: #404bbf;
  border-radius: 2px;
}

.mail:hover,
.mail:focus {
  color: var(--accent-txt-cl);
}

.tel:hover,
.tel:focus {
  color: var(--accent-txt-cl);
}

/**
      |============================
      | Header
      |============================
    */

/**
      |============================
      |Footer
      |============================
    */

/**
      |============================
      | Portfolio
      |============================
    */

/**
      |============================
      |Hover
      |============================
    */

.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.mail:hover,
.mail:focus {
  color: var(--accent-txt-cl);
}

.tel:hover,
.tel:focus {
  color: var(--accent-txt-cl);
}

/**
      |============================
      | Header
      |============================
    */
